/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

.container {
    background-color: #3E4532;


}

.noticia {
    margin: 0px 100px;
}

.nav {
  justify-content: center;
  z-index: 1;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.304);
}

.nav {
  position: fixed;
  background-color: #3E4532;
  top: 0;
  width: 100%;
  height: 130px;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition-timing-function: linear;
}

header ul {
  display: flex;
  margin-left: 11rem;
  list-style-type: none;
  gap: 50px; 
  align-items: center;
}

header img { 
 margin-left: 40px;
}

header a:hover {
  transition:  ease-in;
  color: #b1b0b0;
}

.nav a {
  text-decoration: none;
  /* display: inline-flex; */
  font-family: Poppins;
  font-size: 20px;
  color: white;
  line-height: 40px;
}



.botao {
  border-radius: 15px;
  margin: 80px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.304);
  background-color: #505842;
  text-decoration: none;
  padding: 8px 10px;
}

.noticia {
    display: flex; flex-direction: column; justify-content: center;
    margin: 0px 100px;
}

.noticiatxt h1 {
    margin-bottom: 30px;
    color: #D0E6A6; text-align: center; font-size: 30px;
}

h5 {
    color: #FFF; margin: 25px 50px 25px 50px;
    font-size: 20px;
}

.texto {
    display: flex; justify-content: center; flex-direction: column;
}

.texto p {
    z-index: 0;
    margin: 0px 80px 15px 80px;
    color: #fafafa; font-size: 25px;
}

.texto p:first-letter {
    margin-left: 70px;
}

.noticiaimg {
    margin-top: 50px; 
    display: flex; justify-content: center; width: 100%; height: 600px;

}

.noticia img {
    margin-bottom: 50px;
    border-radius: 30px;    box-shadow: 1px 1px 15px 7px;
}

.footer {
    background-color: #313629;
    font-size: 25px; 
    width: 100%;
    text-align: center;
    font-family: poppins;
 } 
 
 
 .menu{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .footer h3{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform:capitalize;
    line-height: 1.5rem;
    color: #ffffff;
    font-size: 25px;
    padding: 12px;
 }
 
 .link{
    
    color: #fff;
    margin-bottom: 5px;
    font-size: 22px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;   
    padding: 8px;
 } 
 
 .link:hover {
    transform: translateY(-10px);
 }
 
 .footer a {
    text-decoration:underline;
    color:#fff;
 }
 
 .footer p {
    margin-bottom: 0px;
    color: #FFF;
} 