* {
     box-sizing: border-box;
}

body {
    background-color: #3E4532;
}

.container {
    position: fixed;
    background-color: #3E4532;
    top: 0;
    width: 100%;
    height: 130px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.304);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

 header ul {
    display: flex;
    padding-left: 0px;
    list-style-type: none;
    gap: 111px; 
    align-items: center;
}

.container a {
    text-decoration: none;
    /* display: inline-flex; */
    font-family: Poppins;
    font-size: 25px;
    color: #E7E19C;
    line-height: 40px;
}

.header img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.304);
    background-color: #4C533F;
    color: #E7E19C;
    text-decoration: none;
    padding: 8px 10px;
}


.decoration {
    width: 1192px;
    height: 152px;
    background: #D0E6A6;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.gradient-box {
    width: 1200px;
    height: 740px;
    background: linear-gradient(14deg, white 0%, #EFEFEF 63%, #5F5F5F 100%);
    border-radius: 8px;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 100px;
}

.gradient-box h3 {
    color: #849B48;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.gradient-box p {
    color: black;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.gradient-box img {
    width: 1200px;
    height: 400px;
    border-radius: 8px;
}

.gradient-box a {
    color: black;
    font-size: 22px;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    font-family: poppins;
} 

.navbar h1 {
    width: 1344px;
    height: 120px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;

}

.navbar p {
    width: 1342px;
    height: 203px;
    color: #fafafa;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #313629;
    font-size: 25px; 
    width: 158%;
    margin-left: -350px;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    font-family: poppins;
} 


.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h3{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform:capitalize;
    line-height: 1.5rem;
    color: #ffffff;
    font-size: 25px;
    padding: 12px;
}

 .texto{
    color: #fff;
    margin-bottom: 5px;
    font-size: 22px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;   
    padding: 8px;
} 

.texto:hover {
    transform: translateY(-10px);
}

.direito{
    padding: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}

.footer a {
    text-decoration:underline;
    color:#fff;
}

.footer p {
    color: #FFF;
}
