* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    align-content: center;
}

body {
    background: linear-gradient(14deg, #FFF -10.65%, #EFEFEF 75.89%, #5F5F5F 126.37%);
}

.container {
    position: fixed;
    background-color: #3E4532;
    top: 0;
    width: 100%;
    height: 130px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.304);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header ul {
    display: flex;
    padding-left: 0px;
    list-style-type: none;
    gap: 111px;
    align-items: center;
}

.container a {
    text-decoration: none;
    /* display: inline-flex; */
    font-family: Poppins;
    font-size: 25px;
    color: #E7E19C;
    line-height: 40px;
}

.header img {
    display: flex;
    align-items: center;
    width: 90px;
}

.botao {
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.304);
    background-color: #4C533F;
    color: #E7E19C;
    text-decoration: none;
    padding: 8px 10px;
}

.sobre {
    color: #3E4532;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 61px;
    font-weight: 700;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
}

.nos {
    color: #849B48;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px;
    padding-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img__logo {
    width: 630px;
    height: 630px;
    flex-shrink: -0;
}

.align {
    display: flex; align-items: center; justify-content: center;
}

.inicio {
    display: flex;
    justify-content: space-between;
}

.quadrados {gap: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.pilastra1 {
    border-radius: 20px 0px 0px 20px;
    background-color: #3E4532; 
    width: 400px; height: 45px;
}

.pilastra2 {
    border-radius: 20px 0px 0px 20px;
    background-color: #849B48; 
    width: 350px; height: 45px;
    margin-left: 0px;
}

.pilastra3 {
    border-radius: 20px 0px 0px 20px;
    background-color: #849B48; 
    width: 350px; height: 45px;
}

